<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie - Recipe {{recipe.name}}</title>
</head>
<body>
    <h2>{{recipe.name}}</h2>
    <ul>
        {% for ingredient_qty in recipe.ingredients %}
        <li>
            {{ingredient_qty.ingredient.name}}: {{ingredient_qty.quantity}} {{ingredient_qty.quantity_type.value}}
        </li>
        {% endfor %}
    </ul>
    <p>
        {{recipe.instructions}}
    </p>
</body>
</html>