{% extends "base.html" %}

{% block title %}- Recipe {{recipe.name}}{% endblock %}

{% block container %}
    <h2>{{recipe.name}}</h2>
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient_qty in recipe.ingredients %}
        <li>
            {{ingredient_qty.ingredient.name}}: {{ingredient_qty.quantity}} {{ingredient_qty.quantity_type.value}}
        </li>
        {% endfor %}
    </ul>
    <h3>Instructions</h3>
    {% for line in recipe.instructions.split('\n') %}
    <p>
        {{line}}
    </p>
{% endfor %}
{% endblock %}